<p id="notice"><%= notice %></p>
<html>

</html>
<!-- <h1>Liste des Annonces</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Texte</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annonces.each do |annonce| %>
      <tr>
        <td><%= annonce.title %></td>
        <td><%= annonce.body %></td>
        <td><%= link_to 'Voir', annonce %></td>
        <td><%= link_to 'Modifier', edit_annonce_path(annonce) %></td>
        <td><%= link_to 'Supprimer', annonce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle Annonce', new_annonce_path %> -->
